.company-logo {
    justify-content: center;  
    align-items: center;      
    width: 100%;        
    background-color: #ffffff; 
  }


.logo-block {
 
  margin: 0 !important;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-bottom: 30px; 
  text-align: center;
  

}


.logo-img {
  width: 210px !important;
  height: 120px !important;
  padding: 0 !important;
  margin: 0 !important;
  display: block;
box-shadow: 0px 5px 15px rgb(178, 183, 189);
  
}
  
.slider-container {
    width: 100%; 
    animation: scroll-marquee 40s linear infinite;
    padding-bottom: 20px;
    padding-top: -0.5px;
    
}


.custom-arrow {
    position: absolute;
    top: 35%;
    z-index: 2;
    font-size: 32px;
    cursor: pointer;
    color: #003cab;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    transition: color 0.3s ease;
  }
  
  .custom-arrow:hover {
    color: #001e6b;
  }
  
  .next-arrow {
    right: -25px;
  }
  
  .prev-arrow {
    left: -25px;
  }
  
  